# TUPLE

- Tuple is a immutable sequence Data type. it is enclosed with ()

- it stores less space in data base

- tuple is similar to list but has some key diffrence

- slicing and negetive slicing is also possible

- If no argument is given, the constructor returns an empty tuple.

- If iterable is specified the tuple is initialized from iterable's items.

- If the argument is a tuple, the return value is the same object.

- tuple concatination is possible

In [43]:
tup=()
print(tup)

()

In [53]:
tup=(12,True,65,"ram","hari",45.56,'hey')
print(tup)
print(type(tup))

(12, True, 65, 'ram', 'hari', 45.56, 'hey')
<class 'tuple'>

In [54]:
tup=(12,True,65,"ram","hari",45.56,'hey')
tup[0:]

(12, True, 65, 'ram', 'hari', 45.56, 'hey')

In [55]:
tup[::]

(12, True, 65, 'ram', 'hari', 45.56, 'hey')

In [56]:
tup[::-1]

('hey', 45.56, 'hari', 'ram', 65, True, 12)

In [60]:
tup[-3:-1]

('hari', 45.56)

In [62]:
tup[-1::-1]

('hey', 45.56, 'hari', 'ram', 65, True, 12)

In [50]:
tup=(12,True,65,"ram","hari",45.56,'hey')
for i in tup:
    print(i)

12
True
65
ram
hari
45.56
hey

In [49]:
list1=[12,True,65,"ram","hari",45.56,'hey']
for i in list1:
    print(i,end=' ')

12 True 65 ram hari 45.56 hey

# 1. len,type,min,max,sum,sorted

In [3]:
len(tup)

7

In [4]:
max(tup)

TypeError: '>' not supported between instances of 'str' and 'int'

In [5]:
min(tup)

TypeError: '<' not supported between instances of 'str' and 'bool'

In [8]:
tup1=(12,23,45,23.4,23) 
print(tup1)
min(tup1)

(12, 23, 45, 23.4, 23)

12

In [69]:
tup1=(12,23,45,23.4,23) 
sum(tup1)

126.4

In [70]:
sorted(tup1)

[12, 23, 23, 23.4, 45]

In [10]:
max(tup1)

45

# if tuple has only numerical data then min and max will work

In [52]:
tup[0]='hari' # tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [28]:
a= ('a','z','c')

sorted(list(a)) # sorted will work if tuple has similar type of data

['a', 'c', 'z']

In [41]:
tup1=(12,23,45,23.4,23,'a','z','c')
tup1[4] # indexing also possible

23

In [1]:
tup1=(12,23,45,23.4,23,'a','z','c')
tup2=(23,45,12,34)
tup1+tup2

(12, 23, 45, 23.4, 23, 'a', 'z', 'c', 23, 45, 12, 34)

In [23]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# tuple has onle two built in methodes 
- 1. counnt()
- 2. index()

In [34]:
tup=(1,2,3,2,3,4,5,3,1,1,3,2,'hari',True,False)
tup.count(1) # count methode is used to count the duplicate element present in the tuple

4

In [37]:
tup=(1,2,3,2,3,4,5,3,1,1,3,2,'hari',True,False)
tup.index(1)

0

In [51]:
list1=[1,2,3,2,3,4,5,3,1,1,3,2,'hari',True,False]
list1.count(1)

4

In [39]:
tup.index(1)

0

In [40]:
tup[0]

1

# Set
- set is a unordered unindexing collection of  unique sequancial data type
- the elements of the set separated with coma and enclosed with {}
- set is mutable 
- slicing is not possible

In [63]:
set1={12,23,45,23,'hari','ram'}
print(set1)

{'hari', 23, 'ram', 12, 45}

In [66]:
set1={12,23,45,23,'hari','ram'}
print(set1)

{'hari', 23, 'ram', 12, 45}

In [67]:
set1[3]

TypeError: 'set' object is not subscriptable

In [68]:
set1[1:3]

TypeError: 'set' object is not subscriptable

# len,type,min,max,sorted,sum

In [71]:
set1={12,23,45,23,'hari','ram'}
type(set1)

set

In [72]:
min(set1)

TypeError: '<' not supported between instances of 'int' and 'str'

In [73]:
max(set1)

TypeError: '>' not supported between instances of 'int' and 'str'

In [74]:
sorted(set1)

TypeError: '<' not supported between instances of 'int' and 'str'

In [75]:
sum(set1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [77]:
set1={12,33,56,23,12,12}
set1

{12, 23, 33, 56}

In [78]:
sum(set1)

124

In [79]:
min(set1)

12

In [80]:
max(set1)

56

In [81]:
sorted(set1)

[12, 23, 33, 56]

In [82]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [86]:
# add- by using add we add an element in the set at last
set1={12, 23, 33, 56}
set1.add('ram')
set1

{12, 23, 33, 56, 'ram'}

In [89]:
# clear-  will remove all the argument in the set and print empty set
set1.clear()
set1

set()

In [2]:
# copy
set1={12, 23, 33, 56}
set2=set1.copy()
set2

{12, 23, 33, 56}

In [14]:
# difference - it will print the out put that which elements are not in set2 but present in set1
set1={12, 23, 37, 56}
set2={12,34,23,56,23,21}
result=set1.difference(set2)
result

{37}

In [15]:
set1={12, 23, 37, 56}
set2={12,34,23,56,23,21}
set2.difference(set1)

{21, 34}

In [23]:
# difference_update
set1={12, 23, 37, 56}
set2={12,34,23,56,23,21}
set1.difference_update(set2)
set1

{37}

In [24]:
set1={12, 23, 37, 56}
set2={12,34,23,56,23,21}
set2.difference_update(set1)
set2

{21, 34}

In [25]:
# difference_update() modifies the original set directly and does not return a new set. 
# If you want to create a new set without modifying the original sets, you should use the difference() method, 
# as mentioned in the previous response.

In [28]:
# discard
#- Remove an element from a set if it is a member.

# - If the element is not a member, do nothing.
set1={12, 23, 37, 56}
set1.discard(23)
set1

{12, 37, 56}

In [30]:
set1={12, 23, 37, 56}
set1.discard(45)
set1

{12, 23, 37, 56}

In [40]:
# intersection
# - it only print the elemnts that are present in both the set
set1={12, 23, 37, 56}
set2={12,34,23,56,23,21}
set1.intersection(set2)

{12, 23, 56}

In [38]:
# intersection_update
# - it will update the intersection of itself and another.
result=set1.intersection_update(set2)
set1

{12, 23, 56}

In [42]:
set1={12, 23, 37, 56}
set2={12,34,23,56,23,21}
set2.intersection_update(set1)
set2

{12, 23, 56}

In [12]:
# Pop-it will remove one element with out argument and print the element
set2={12,34,23,56,23,21}
set2.pop()

34

In [15]:
# remove-it will remove if the elememt present in the set
# remove will not print the element
set2={12,34,23,56,23,21}
set2.remove(34)
set2

{12, 21, 23, 56}

In [17]:
# union-union will print all the elemt present in the both set
set1={12, 23, 37, 56}
set2={12,34,23,56,23,21}
set1.union(set2)

{12, 21, 23, 34, 37, 56}

In [20]:
# update-it will update the values into respective set
set1={12, 23, 37, 56}
set2={12,34,23,56,23,21}
set1.update(set2)
set1

{12, 21, 23, 34, 37, 56}

In [ ]:
#isdisjoint- written true if two sets has no intersections